# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VSCode
.vscode/

# Archivos de logs
debug.log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de test
.coverage
htmlcov/

# Archivos de Docker
*.pid

# Otros
*.sqlite3 